<section class="container editar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br />pensamento novo:</h2>
  </header>
  <form [formGroup]="form">
    <label for="pensamento">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      formControlName="content"
      placeholder="Digite o pensamento"
    />
    <div
      class="mensagem__erro"
      *ngIf="form.get('content')?.errors && form.get('content')?.touched"
    >
      Required field
    </div>
    <label for="autoria">Autoria ou fonte</label>
    <input
      type="text"
      class="input"
      id="autoria"
      formControlName="author"
      placeholder="Digite a autoria ou fonte"
    />
    <div
      class="mensagem__erro"
      *ngIf="form.get('author')?.errors?.['required'] && form.get('author')?.touched"
    >
      Required field
    </div>
    <div
      class="mensagem__erro"
      *ngIf="form.get('author')?.errors?.['minlength'] && form.get('author')?.touched"
    >
      Author must have at least 3 character
    </div>
    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            value="model1"
            formControlName="model"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens/model1.png" alt="Aspas azuis" />
          <p class="conteudo">{{ form.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            value="model2"
            formControlName="model"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img
            src="../../../../assets/imagens/model2.png"
            alt="Aspas azul claro"
          />
          <p class="conteudo">{{ form.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            value="model3"
            formControlName="model"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/imagens/model3.png" alt="Aspas verdes" />
          <p class="conteudo">{{ form.get("conteudo")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("autoria")?.value }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button
        [disabled]="!form.valid"
        (click)="editThought()"
        [ngClass]="enableButton()"
      >
        Salvar
      </button>
      <button (click)="cancel()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
