<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input
        type="search"
        class="filtro"
        placeholder="Search a thought"
        autofocus
        [(ngModel)]="filter"
        (keyup)="searchThought()"
      />
      <img src="/assets/imagens/lupa.png" alt="" />
    </div>
    <h2 class="ff-inter">{{ title }}</h2>
    <div class="botoes">
      <button class="botao" (click)="reloadComponent()">Meu Mural</button>
      <button class="botao" (click)="getBookmarked()">Meus favoritos</button>
      <button routerLink="/createThought" class="botao">
        Novo pensamento
      </button>
    </div>
  </header>
  <div class="mural" *ngIf="thoughtsList.length > 0; else noThoughts">
    <div *ngFor="let thought of thoughtsList">
      <app-thought-card [thought]="thought" [bookmarkedList]="bookmarkedList"></app-thought-card>
    </div>
  </div>
</section>
<app-load-more [hasMoreThoughts]="hasMoreThoughts" (click)="loadMoreThoughts()">
</app-load-more>
<!-- ng-template não é renderizado por padrão, precisa ser instruido a aparecer, no caso, na linha 6 -->
<ng-template #noThoughts>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados!</p>
  </div>
</ng-template>
